@{
    ViewData["Title"] = "Todo List";
}
@section Styles {
    <link href="~/css/todoStyle.css" rel="stylesheet" />
}
<div class="text-center">
    <h1 class="display-4">To Do</h1>
    <h4>Last Page Serever Refresh: @DateTime.Now</h4>
</div>
<partial name="_TodoObjectForm" />
<partial name="_TodoList" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/TodoScript.js"></script>
}